[Unit]
Description=Torrents mount
After=network.target
Wants=network-online.target

[Mount]
What=unas-pro.jdmarble.net:/var/nfs/shared/torrents
Where=/var/mnt/torrents
Type=nfs
Options=auto

[Install]
WantedBy=multi-user.target
